In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import seaborn as sns

In [26]:
train  = pd.read_csv("../Datasets/Rainy_Days/train.csv")

In [27]:
train.head()

,id,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,100511,2011-09-25,MountGambier,2.5,16.1,2.4,2.4,8.7,SE,37.0,...,54.0,48.0,1026.3,1022.8,1.0,3.0,12.5,15.5,Yes,No
1,107590,2014-10-19,Woomera,16.4,35.5,0.0,37.6,NaN,N,43.0,...,6.0,1.0,1020.6,1018.0,0.0,4.0,24.7,34.4,No,No
2,43808,2012-06-14,Wollongong,11.4,17.0,10.8,NaN,NaN,NW,28.0,...,94.0,81.0,1019.9,1016.2,8.0,NaN,13.8,16.2,Yes,No
3,62101,2011-08-08,Sale,4.3,12.3,0.2,1.8,1.2,W,20.0,...,90.0,74.0,1011.3,1009.3,7.0,7.0,8.8,11.4,No,Yes
4,22518,2012-11-30,NorfolkIsland,18.3,23.2,0.0,5.0,11.2,ESE,31.0,...,75.0,71.0,1017.0,1016.8,6.0,4.0,21.5,21.9,No,No

In [31]:
train["Evaporation"] = train.Evaporation.fillna(np.mean(train.Evaporation))

In [32]:
train.head()

,id,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,100511,2011-09-25,MountGambier,2.5,16.1,2.4,2.400000,8.7,SE,37.0,...,54.0,48.0,1026.3,1022.8,1.0,3.0,12.5,15.5,Yes,No
1,107590,2014-10-19,Woomera,16.4,35.5,0.0,37.600000,NaN,N,43.0,...,6.0,1.0,1020.6,1018.0,0.0,4.0,24.7,34.4,No,No
2,43808,2012-06-14,Wollongong,11.4,17.0,10.8,5.473151,NaN,NW,28.0,...,94.0,81.0,1019.9,1016.2,8.0,NaN,13.8,16.2,Yes,No
3,62101,2011-08-08,Sale,4.3,12.3,0.2,1.800000,1.2,W,20.0,...,90.0,74.0,1011.3,1009.3,7.0,7.0,8.8,11.4,No,Yes
4,22518,2012-11-30,NorfolkIsland,18.3,23.2,0.0,5.000000,11.2,ESE,31.0,...,75.0,71.0,1017.0,1016.8,6.0,4.0,21.5,21.9,No,No